<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Balance Bites</title>
	<link rel="shortcut icon" type="image/x-icon" href="static\images\favicon.ico" />
	<link rel="stylesheet" href="static\css\styles.css" />
</head>

<body>
	<nav class="navbar">
		<div class="brand-title">
			<img src="static\images\Logo.png" alt="Logo" />
		</div>
		<a href="javascript:void(0);" class="toggle-button" onclick="toggleMenu()">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</a>
		<div class="navbar-links" id="navbar-links">
			<ul>
				<li><a href="#home">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#services">Services</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</div>
		<div class="get-started">
			<a href="">Get Started</a>
		</div>
	</nav>
	<section id="home" style="background: url('static/images/backgroundimage.jpg') no-repeat center center;">
		<div class="main">
			<h1>Optimize Your Nutrition</h1>
			<p>Personalized Diet Plans for a Healthier You</p>
		</div>
	</section>

	<section id="about">
		<div class="container">
			<img src="static\images\about-us.jpg" alt="Image">
			<div class="content">
				<h2>About Us</h2>
				<div class="line"></div>
				<p>
					Our Diet Recommendation System is dedicated to helping you achieve
					your nutrition and wellness goals with personalized meal plans. Our
					expert team analyzes your dietary needs and preferences to create a
					unique plan that ensures balanced nutrition and delicious meals. Join
					us and start your journey to better health today.
				</p>
			</div>
		</div>
	</section>
	<br><br>
	<section id="services">
		<h2>Our Services</h2>
		<div class="line"></div>

		<div class="container">
			<div class="box">
				<h3 id="calorie-tracker-box">Calorie Tracker</h3>
				<p>The Calorie Tracker service enables you to log your meals, count calories, and set personalized goals
					to achieve a balanced diet and maintain a healthy lifestyle.</p>
			</div>

			<div class="box">
				<h3 id="bmi-box">BMI Calculator</h3>
				<p>With BMI Calculator, you can quickly and accurately determine your BMI, empowering you to make
					informed decisions about your health and fitness goals.</p>
			</div>

			<div class="box">
				<h3>Fitness and Wellness Tips</h3>
				<p>Enhance your well-being with our fitness and wellness tips. We provide guidance on exercise routines
					and healthy lifestyle practices.</p>
			</div>

			<div class="box">
				<h3>Fitness and Wellness Tips</h3>
				<p>Enhance your well-being with our fitness and wellness tips. We provide guidance on exercise routines
					and
					healthy lifestyle practices.</p>
			</div>
		</div>
	</section>

	<footer class="footer">
		<div class="footer-container">
			<div class="footer-column">
				<h3>Quick Links</h3>
				<ul>
					<li><a href="#home">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#services">Services</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
			<div class="footer-column">
				<h3>Follow Us</h3>
				<ul class="social-links">
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Instagram</a></li>
					<li><a href="#">LinkedIn</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-bottom">
			<p>&copy; Balance Bites. All rights reserved.</p>
		</div>
	</footer>

	<script src="static\js\script.js"></script>
</body>

</html>